@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@600&display=swap');

/* General */

body {
  font-family: 'Roboto Mono', monospace;
 // background-color: #F1F1EF;
}

#root {
  display: flex;
  align-items: center;
  justify-content: center;
}

button,
button:active {
  background-color: #FDEBEC;
  border: none;
  width: 42px;
  height: 40px;
  border-radius: 100%;
  text-align: center;
  box-shadow: 0.2em 0.2em #594141;
  -webkit-box-shadow: 0.2em 0.2em #594141;
  -moz-box-shadow: 0.2em 0.2em #594141;
}

button:focus {
  translate: 0.2em 0.2em;
  box-shadow: 0.2em 0.2em #594141 inset;
  -webkit-box-shadow: 0.2em 0.2em #594141 inset;
  -moz-box-shadow: 0.2em 0.2em #594141 inset;
}

/* Clock Body */

.clock-container {
  border-collapse: separate;
  background-color: #fff; 
  width: 350px;
  color: #37352F;
  max-width: 95%
  border: 3px solid #37352F
  border-radius: 5px;
  padding: 30px;
  box-shadow:  2px 2px 1px 0px  #37352F;
}

/* Display + Stop/Start/Reset Controls */

#time-left {
  font-size: 70px;
  text-align: center;
  background-color: #F1F1EF;
  padding: 5px 5px;
  border-radius: 5px;
  box-shadow:  2px 2px 1px 0px #37352F inset;
}

#display-controls {
  margin: 10px 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

#timer-label {
  font-size: 25px;
  text-align: center;
 padding: 5px 5px;
  background-color: #F1F1EF;
  border-radius: 5px;
  height: 40px;
  flex: 2;
  box-shadow: 2px 2px 1px 0px #37352F inset;
}

#timer-ssr {
  flex: 1;
  margin-left: 30px;
  display: flex;
  justify-content: space-between;
  flex-start: end;
}

/* Timer Length Controls */

.length-container {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
}

.inc-dec-btn-container {
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 140px;
  height:60px;
}

.break-container, 
.session-container {
  text-align: center;
/*   display: inline-block; */
  border: 2px solid #FDEBEC;
 padding: 5px 5px;;
  border-radius: 5px;
  width: 48%;
}

.timer-length {
  font-size: 2em;
}

.break-container,
.inc-arrow {
  margin-right: 12px;
}
